@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');


body {
  background-color: #E3A76B;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: "Jost", serif;
}

/* .welcome {
  font-family: "Spectral", serif;
} */
