/* .add-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.save-button {
  width: 200px;
  margin-bottom: 30px;
}

.add-table {
  display: flex;
  flex-direction: column;
  /* width: 200px; */
  align-items: center;
  justify-content: center;
}

.input-contain {
text-align: center;
width: 80vw;
}

.field-div {
  text-align: left;
}

.slabel {
  text-align: left;
}

.add-table input{
  width: 75vw;
}

