
  .list-div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.list-one-div {
  background-color: #FFE6CF;
  border-radius: 4px;
  width: 400px;
  margin: 15px 0px 15px 0px;
  padding: 15px 12px 10px 12px;
}

.list-title {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

}

h5 {
  margin: 0px 0px 0px 0px;

}

.date-div {
  margin: 0px 10px 0px 0px;
}

.date {
  font-size: 11pt;
}

.name {
  margin: 5px 5px 10px 10px;
}

.delete-contain {
  display: flex;
  justify-content: flex-end
}

.delete {
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: right;
} 

.add-button {
  width: 200px
}