
.descriptor {
  font-style: italic;
  background-color: #C3793C;
}

.descriptor-div {
  background-color: #C3793C;
  color: #FFF1E2;
  font-style: italic;
  font-family: 'Spectral', serif;
}

h5 {
  font-size: 14pt;
}

.input-div {
  text-align: center;
}