
.tagline {
  font-family: 'Spectral', serif;
}

.descriptor {
  font-style: italic;
  background-color: #C3793C;
  font-size: 18px;
}

.descriptor-div {
  background-color: #C3793C;
  color: #FFF1E2;
  font-style: italic;
  font-family: 'Spectral', serif;
  padding: 10px 0px 10px 0px;
}

h5 {
  font-size: 14pt;
}

.input-div {
  text-align: center;
}

p.descriptor {
  margin: 5px 0px 5px 0px
}

.signup-div {
  margin: 30px
}

.signup-div button {
  width: 200px
}