.stopwatch{
  margin-bottom: 25px;
  width: 75vw;
}

.display {
  display: flex;
  justify-content: center;
  background-color: #FFE6CF;
  border-radius: 4px;

}

.digit {
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}

.sw-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sw-button{
  margin: 5px;
}