.stopwatch{
  margin-bottom: 25px;
}

.display {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #FFE6CF;
}

.digit {
  font-family: monospace;
  font-size: 40px;
}

.sw-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sw-button{
  margin: 5px;
}